<%= @game.player_name(Player1).capitalize %> attacked <%= @game.player_name(Player2).capitalize %>
 <!-- <%= @player2attack % -->

<div>
  <form action='/play'>
  <input type="submit" value="Back to fight">
  </form>
<div>
