<h1>Battle</h2>
  <h2>To play, enter name... if you dare?</h2>

<form action='/names' method="post">
  <input name="name" placeholder="Player 1">
  <input name="name2" placeholder="Player 2">
  <input type="submit" value="FIGHT!">
</form>
